---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Sobre nosotros',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Sobre nosotros"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Sobre nosotros',
    }}
  >
    <Fragment slot="title">
      Acerca de <br />
      <span class="text-accent dark:text-white highlight"> GoodCode Solution</span>
    </Fragment>

    <Fragment slot="subtitle">
      Bienvenido a GoodCode, donde combinamos más de 15 años de experiencia en desarrollo de software con un enfoque moderno y colaborativo. Descubre quiénes somos, nuestra pasión por la tecnología y cómo podemos ayudarte a alcanzar tus objetivos tecnológicos.
    </Fragment>
  </Hero>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Nuestros valores"
    subtitle="En GoodCode, nuestros valores fundamentales guían cada aspecto de nuestro trabajo. Son la base de nuestra cultura empresarial y reflejan nuestro compromiso con la excelencia y la ética en todo lo que hacemos.    "
    items={[
      {
        title: 'Colaboración y Trabajo en Equipo',
        description: 'Fomentamos un ambiente de colaboración donde cada miembro del equipo aporta sus habilidades únicas para lograr resultados excepcionales en cada proyecto.',
      },
      {
        title: 'Innovación Constante',
        description: 'Nos mantenemos a la vanguardia de la innovación tecnológica, explorando nuevas ideas y enfoques para ofrecer soluciones creativas y efectivas.',
      },
      {
        title: 'Transparencia y Ética',
        description: ' Actuamos con integridad en todo momento, manteniendo una comunicación abierta y transparente con nuestros clientes y respetando altos estándares éticos en todas nuestras operaciones.',
      },
    ]}
  />

</Layout>
