---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
// import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
// import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';
// import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'GoodCode Solution — Tu Aliado en Tecnología',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    actions={[]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'GoodCode' }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight"> GoodCode</span> Tu Aliado en Tecnología
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">GoodCode</span> 
          es tu socio tecnológico confiable, especializado en desarrollo de software a medida, consultoría en arquitectura de software y entrevistas técnicas para seleccionar al mejor talento. Nos destacamos por ofrecer soluciones tecnológicas de calidad y por conectar a empresas con los mejores desarrolladores freelance del mercado.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Beneficios"
    title="Beneficios de trabajar con nosotros"
    subtitle="Descubre los beneficios de trabajar con GoodCode. Nos destacamos por ofrecer servicios integrales de desarrollo de software, selección de talento y consultoría tecnológica, asegurando resultados excepcionales en cada proyecto."
    items={[
      {
        title: 'Desarrollo Confiable',
        description: 'Contamos con una red de talentosos desarrolladores autónomos, garantizando la entrega de soluciones de software robustas y eficientes',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Metodología Efectiva',
        description: 'Nuestra metodología incluye pruebas unitarias y funcionales, entrega de documentación detallada, planificación clara y comunicación constante para garantizar proyectos exitosos.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Consultoría Tecnológica Integral',
        description: 'Ofrecemos asesoramiento en arquitectura de software, testing y buenas prácticas, asegurando soluciones de calidad adaptadas a tus necesidades',
        icon: 'tabler:components',
      },
      {
        title: 'Selección de Talento Especializado',
        description: 'Facilitamos el proceso de contratación al ofrecer entrevistas técnicas expertas, asegurando que solo los mejores candidatos lleguen a tu empresa.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Innovación Colaborativa',
        description: 'Fomentamos la creatividad y la innovación al estar abiertos a nuevas ideas y contribuciones. Valoramos las sugerencias de nuestros clientes y colaboradores, buscando siempre mejorar y adaptarnos a las últimas tendencias tecnológicas para ofrecer soluciones vanguardistas y efectivas.',
        icon: 'tabler:bulb',
      },
      {
        title: 'Transparencia y Comunicación Abierta',
        description: 'Priorizamos la transparencia y la comunicación abierta en cada etapa del proyecto. Mantenemos a nuestros clientes informados y comprometidos, asegurando una colaboración fluida y una comprensión clara del progreso y los resultados del desarrollo de software.',
        icon: 'tabler:arrows-right-left',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Formación Continua',
        description: 'Desarrollamos constantemente nuestras habilidades y conocimientos a través de programas de formación interna y participación en eventos tecnológicos',
      },
      {
        title: 'Innovación y Nuevos Retos',
        description: 'Nos apasiona enfrentar nuevos desafíos y encontrar soluciones creativas para nuestros clientes.',
      },
      {
        title: 'Desarrollo de Software Propio',
        description: 'Además de proyectos externos, invertimos en el desarrollo de software interno para explorar nuevas ideas y tecnologías.',
      },
      {
        title: 'Cultura de Colaboración',
        description: `Fomentamos un ambiente de trabajo colaborativo donde cada miembro del equipo tiene la oportunidad de contribuir y crecer`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Nuestra Filosofía.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Proceso de Selección de Talento."
    items={[
      {
        title: 'Paso 1: <span class="font-medium">Reunión Estratégica</span>',
        description: "Comenzamos con una reunión online donde entendemos tus necesidades específicas. Capturamos los requisitos del perfil buscado, incluyendo experiencia, habilidades técnicas y cualquier requisito particular de tu empresa.",
        icon: 'tabler:package',
      },
      {
        title: 'Paso 2: <span class="font-medium">Búsqueda y Evaluación de Candidatos</em>',
        description: "Nuestro equipo experto busca en nuestra red de profesionales en LinkedIn y otras plataformas para identificar candidatos calificados que se ajusten al perfil. Realizamos una primera entrevista para validar habilidades y experiencias clave, garantizando un ajuste perfecto con tus requisitos.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Paso 3: <span class="font-medium">Presentación y Contratación</span>',
        description: 'Presentamos los candidatos seleccionados para que los evalúes. Una vez contratado el candidato, cobramos la comisión pactada en el contrato, asegurando un proceso de contratación sin complicaciones y resultados efectivos para tu empresa.',
        icon: 'tabler:paint',
      },
      {
        title: '¡Listo!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->

  <!-- HighlightedPosts Widget ******* -->

  <!-- <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  /> -->

  <!-- FAQs Widget ******************* -->

  <!-- Stats Widget ****************** -->

  <!-- CallToAction Widget *********** -->
</Layout>
