---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Servicios',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Servicios"
    title="Nuestros Servicios"
    subtitle="Descubre cómo GoodCode puede satisfacer tus necesidades tecnológicas con nuestra gama completa de servicios especializados en desarrollo de software, consultoría y selección de talento técnico.    "
    actions={[]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'AstroWind Hero Image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Explora nuestros servicios"
    subtitle=""
    columns={3}
    items={[
      {
        title: 'Desarrollo de Software a Medida',
        description: 'Creamos soluciones personalizadas que se adaptan perfectamente a las necesidades específicas de tu empresa, utilizando las tecnologías más avanzadas y eficientes.',
        icon: 'tabler:school',
      },
      {
        title: 'Automatización de Procesos',
        description: 'Optimizamos tus operaciones mediante la automatización de tareas repetitivas, mejorando la eficiencia y reduciendo costos.',
        icon: 'tabler:home-star',
      },
      {
        title: 'Búsqueda de Talento para las Empresas',
        description: `Facilitamos el proceso de contratación conectándote con talento técnico calificado que se ajusta a tus requerimientos, ahorrándote tiempo y esfuerzo en la selección.`,
        icon: 'tabler:photo',
      },
      {
        title: 'Consultoría en Arquitectura de Software',
        description: 'Proporcionamos asesoramiento experto en diseño de arquitectura de software, ayudándote a tomar decisiones informadas y estratégicas para tus proyectos tecnológicos.',
        icon: 'tabler:shopping-cart',
      },
      {
        title: 'Servicios de Testing y QA',
        description: 'Garantizamos la calidad de tus aplicaciones mediante pruebas exhaustivas y metodologías de aseguramiento de calidad.',
        icon: 'tabler:article',
      },
      {
        title: 'Implementación de Buenas Prácticas',
        description: 'Promovemos el uso de prácticas y estándares de desarrollo de software que aseguran resultados óptimos y sostenibles para tu empresa.',
        icon: 'tabler:building-store',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Experiencia en Desarrollo de Software',
        description: 'Más de 15 años de experiencia en el desarrollo de software, brindando soluciones tecnológicas sólidas y efectivas a nuestros clientes.',
        icon: 'tabler:wand',
      },
      {
        title: 'Calidad y Pruebas Rigurosas',
        description: 'Implementamos test unitarios y de integración para garantizar la calidad y fiabilidad de cada aplicación desarrollada. Además, trabajamos con CI/CD (Integración Continua / Entrega Continua) para asegurar entregas eficientes y libres de errores.',
        icon: 'tabler:settings',
      },
      {
        title: 'Comunicación Constante y Transparente',
        description: 'Mantenemos una comunicación abierta y constante con nuestros clientes durante todo el proceso de desarrollo, asegurando una colaboración efectiva y una comprensión clara de las metas y progresos del proyecto.',
        icon: 'tabler:presentation',
      },
      {
        title: 'Metodología Efectiva',
        description: 'Seguimos una metodología de trabajo estructurada que incluye buenas prácticas de desarrollo, planificación en entregas y una atención meticulosa a los detalles.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Mejores cualidades</h3>
    </Fragment>
  </Content>

</Layout>
